.jumbotron {
    background-image: url("https://cdn.cobertura360.mx/2020/04/hoteleros_crisis_pandemia_.jpg");
    background-color: yellow;
    color: black;
    margin-top: 50px;

}


.footer {
    padding: 10px 10px 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {

    flex: 1 200px;
    padding: 10px;



}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    position: relative;
    bottom: 5px;
    


}

.footer-addres-icon {
    padding-right: 10px;

}

.container-responsive {
    margin: 30px;
    padding: 10px;


}

.tab-content {
    padding: 10px;
}