@yellow: #f7ff1c;

.margenes(@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-image: url("https://cdn.cobertura360.mx/2020/04/hoteleros_crisis_pandemia_.jpg");
  background-color: @yellow;
  color: black;
  .margenes(50px, 0px);
}

.footer {
  padding: 10px 10px 10px;
  background-color: @yellow;
  .margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
}

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  position: relative;
  bottom: 5px;
}

.footer-addres-icon {
  padding-right: 10px;
}

.tab-content {
  padding: 10px;
}

.container-responsive {
  margin: 30px;
  padding: 10px;


}