 $yellow: #fff000;
 @mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
 }

 .jumbotron {
    background-image: url("https://cdn.cobertura360.mx/2020/04/hoteleros_crisis_pandemia_.jpg");
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px)

}


.footer {
    padding: 10px 10px 10px;
    background-color: $yellow;
    @include margenes(10px, 0px)
}

.card-hotel {

    flex: 1 200px;
    @include margenes(10px, 0px)



}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
    position: relative;
    bottom: 5px;
    


}

.footer-addres-icon {
    padding-right: 10px;

}


.tab-content {
    padding: 10px;
}

.container-responsive {
    @include margenes(10px, 0px)


}