.jumbotron {
  background-image: url("https://cdn.cobertura360.mx/2020/04/hoteleros_crisis_pandemia_.jpg");
  background-color: #fff000;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

.footer {
  padding: 10px 10px 10px;
  background-color: #fff000;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px;
  position: relative;
  bottom: 5px; }

.footer-addres-icon {
  padding-right: 10px; }

.tab-content {
  padding: 10px; }

.container-responsive {
  margin-top: 10px;
  margin-bottom: 0px; }
